<fieldset class="main-form">
    <legend>Arguments</legend>
    <%= form_tag('/') do -%>
    <p>
        <label for="text">Text</label>
        <%= text_area_tag 'text', params[:text], :class => 'text' %>
    </p>
    <p>
        <label for="dictionary">Dictionary (comma separated)</label>
        <%= text_area_tag 'dictionary', params[:dictionary] %>
    </p>
    <p>
        <label for="negative_dictionary">Negative dictionary (comma separated)</label>
        <%= text_area_tag 'negative_dictionary', params[:negative_dictionary] %>
    </p>
    <p>
        <%= select_minimum_length_tag %>
        <%= select_tag "order", "<option value='word'>Order by word</option><option value='hits'>Order by hits</option>".html_safe %>
        <%= select_tag "order_direction", "<option value='asc'>Ascending order</option><option value='desc'>Descending order</option>".html_safe %>
    </p>
    <% btn_class = params[:variation] ? "btn-#{params[:variation]}" : "btn" %>
    <p><%= submit_tag 'Submit', :class => btn_class %></p>
    <% end -%>
</fieldset>

<%= render 'shared/info' %>

<% if @parsed_text %>
<fieldset class="result">
    <legend>Result</legend>
    <table>
        <thead>
            <tr>
                <th>Word</th>
                <th class="col-hits">Hits</th>
            </tr>
        </thead>
        <tbody>
        <% @parsed_text.each do |p| %>
          <tr class="<%= cycle("odd-line", "") -%>">
            <td><%= p[:word] %></td>
            <td><%= p[:hits] %></td>
          </tr>
        <% end %>
        </tbody>
    </table>
</fieldset>
<% end %>
<script>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='53723629-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
</script>