<fieldset class="main-form">
    <legend>Arguments</legend>
    <%= form_tag('/') do -%>
    <p>
        <label for="text">Text</label>
        <%= text_area_tag 'text', @params[:text], :class => 'text' %>
    </p>
    <p>
        <label for="dictionary">Dictionary (comma separated)</label>
        <%= text_area_tag 'dictionary', @params[:dictionary] %>
    </p>
    <p>
        <label for="negative_dictionary">Negative dictionary (comma separated)</label>
        <%= text_area_tag 'negative_dictionary', @params[:negative_dictionary] %>
    </p>
    <p>
        <%= select_minimum_length_tag %> 
        <%= select_tag "order", "<option value='word'>Order by word</option><option value='hits'>Order by hits</option>".html_safe %> 
        <%= select_tag "order_direction", "<option value='asc'>Ascending order</option><option value='desc'>Descending order</option>".html_safe %>
    </p>
    <p><%= submit_tag 'Submit', :class => 'btn' %></p>
    <% end -%>
</fieldset>

<%= render 'shared/info' %>

<% if @parsed_text %>
<fieldset class="result">
    <legend>Result</legend>
    <table>
        <thead>
            <tr>
                <th>Word</th>
                <th class="col-hits">Hits</th>
            </tr>
        </thead>
        <tbody>
        <% @parsed_text.each do |p| %>
          <tr class="<%= cycle("odd-line", "") -%>">
            <td><%= p[:word] %></td>
            <td><%= p[:hits] %></td>
          </tr>  
        <% end %>
        </tbody>
    </table>
</fieldset>
<% end %>